@mixin gradient() {
	background: rgb(246,166,146); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(246,166,146,1) 0%, rgba(139,97,169,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(246,166,146,1) 0%, rgba(139,97,169,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(246,166,146,1) 0%, rgba(139,97,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6a692', endColorstr='#8b61a9',GradientType=1 ); /* IE6-9 */
}
