@mixin button-shadow() {
    box-shadow: 0 2px 4px rgba(color(primary), 0.2);
}

%button {
	@include typography(button);
	cursor: pointer;
	appearance: none;
	vertical-align: middle;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	min-height: $-btn-min-height;
	padding: 0 16px;
	text-align: center;
	text-decoration: none;
	// font-weight: 600;
	white-space: nowrap;
	color: color(white);
	fill: color(white);
	background-color: transparent;
	border: 2px solid color(white);
	border-radius: $border-width;
	box-shadow: none;
	transition: all 0.1s ease-in-out 0s;
	transition-property:
		fill,
		color,
		background,
		background-color,
		border-color,
		border-width,
		border,
		box-shadow,
		transform;
	outline: none;

	&[type="submit"]:focus {
		outline: color(accent-two) auto 5px;
		// outline: -webkit-focus-ring-color auto 5px;
	}

	& > * {
		pointer-events: none;
	}

	.icon-spotify {
		display: none;
	}
}

.btn,
a.btn {
	@extend %button;

	svg {
		vertical-align: middle;
		display: inline-block;
		margin-top: -0.2rem;
		margin-right: 0.4rem;
	}

	@include can-hover() {
		&:hover {
			text-decoration: none;
			color: color(primary);
			fill: color(primary);
			background-color: color(white);
		}
	}

	& + &  {
		margin-left: 0.8em;
	}

	&.btn--accent-three {
		// @include button-shadow();
		color: color(white);
		fill: color(white);
		text-shadow: none;
		// text-shadow: 0 1px 0 rgba(color(primary), 0.2);
		background-color: color(accent-three);
		border-color: color(accent-three);

		@include can-hover() {
			&:hover {
				color: color(white);
				fill: color(white);
				background-color: color(secondary);
				border-color: color(secondary);
			}
		}
	}

	&.btn--accent-two--secondary {
		@include button-shadow();
		color: color(accent-two);
		fill: color(accent-two);
		// text-shadow: 0 1px 0 rgba(color(primary), 0.2);
		text-shadow: none;
		background-color: color(white);
		border-color: color(white);

		@include can-hover() {
			&:hover {
				color: color(white);
				fill: color(white);
				background-color: color(secondary);
				border-color: color(secondary);
			}
		}
	}

	&.btn--accept {
		// @include button-shadow();
		color: color(white);
		fill: color(white);
		text-shadow: 0 1px 0 rgba(color(primary), 0.2);
		background-color: color(accent-two);
		border-color: color(accent-two);

		&.btn--knockout {
			text-shadow: none;
			color: color(accent-two);
			background-color: transparent;
			box-shadow: none;
		}

		&.btn--noborder {
			color: darken(color(accent), 10%);
			fill: darken(color(accent), 10%);
			background-color: transparent;
			border: transparent;

			@include can-hover() {
				&:hover {
					color: color(secondary);
					fill: color(secondary);
					box-shadow: none;
				}
			}
		}

		@include can-hover() {
			&:hover {
				color: color(white);
				fill: color(white);
				background-color: color(secondary);
				border-color: color(secondary);
			}

			&:active {
				transform: translateY(2px);
				box-shadow: 0 0 4px rgba(color(primary), 0.5);
			}
		}
	}

	&.btn--gradient {
		@include gradient();
		color: color(white);
		fill: color(white);
		border-color: rgb(246,166,146);

		@include can-hover() {
			&:hover {
				border-color: rgb(246,166,146);
			}
		}
	}

	&.btn--round {
		border-radius: 18px;
	}

	&.btn--error {
		color: color(white);
		background-color: color(error);
		border-color: color(error);

		@include can-hover() {
			&:hover {
				background-color: lighten(color(error), 10%);
				border-color: lighten(color(error), 10%);
			}
		}
	}

	&.btn--disabled {
		pointer-events: none;
		color: color(white);
		background-color: color(disabled);
		border-color: color(disabled);
		box-shadow: none !important;

		&.btn--noborder {
			color: color(disabled);
			fill: color(disabled);
			background-color: transparent;
			border-color: transparent;

			&:hover {
				background-color: transparent;
				border-color: transparent;
				box-shadow: none;
			}
		}
	}

	&.btn--small {
		font-size: fontsize-for(small-headline);
		min-height: $-btn-min-height-small;
		line-height: $-btn-min-height-small;

		@include small() {
			line-height: $-btn-min-height-small;
		}
	}

	.tiny & {
		.icon {
			margin-right: 0;
		}

		.text {
			display: none;
		}
	}
}

//
// Theme
//
.theme-light {
	.btn,
	a.btn {
		&.btn--buy,
		&.btn--accent-three,
		&.btn--accent,
		&.btn--accept {
			color: color(white);
			background-color: color(copy);
			border-color: color(copy);

			&:hover {
				background-color: lighten(color(copy), 15%);
				border-color: lighten(color(copy), 15%);
			}
		}

		&.btn--accept {
			&.btn--knockout {
				color: color(copy);
				background-color: transparent;
				border-color: color(copy);

				&:hover {
					color: color(white);
					background-color: color(copy);
				}
			}
		}
	}
}

.theme-dark {
	.btn,
	a.btn {
		&.btn--buy,
		&.btn--accent-three,
		&.btn--accent,
		&.btn--accept {
			color: color(copy);
			background-color: color(white);
			border-color: color(white);

			&:hover {
				color: color(copy);
				background-color: darken(color(white), 15%);
				border-color: darken(color(white), 15%);
			}
		}

		&.btn--accept {
			&.btn--knockout {
				color: color(white);
				background-color: transparent;
				border-color: color(white);

				&:hover {
					color: color(copy);
					background-color: color(white);
				}
			}
		}
	}
}
