.rp-parent {
	overflow: auto;
	position: relative;

	&.theme-dark {
		color: color(white);
	}
}

.sponsor-block {
	margin-bottom: 0.4rem;
}

.list-scroll {
	overflow: auto;
}

//
// Showlist
//
.showlist {
	width: 100%;
}

.showlist-endcap {
	padding: 2rem 0;
}

//
// Date Stack
//
.datestack {
	position: relative;
	z-index: auto;
	left: auto;
	bottom: auto;
	min-width: 48px;
	padding: 0.5rem;
	padding-right: 2rem;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;

	.datestack-small {
		@include typography(tiny);
		text-transform: uppercase;

		&:last-child { margin-top: 0.1rem; }
	}

	.datestack-large {
		@include typography(subheadline);
		font-weight: 700;
	}

	.datestack-small,
	.datestack-large {
		line-height: 1;
	}

	.small & {
		display: none;
	}
}

//
// Search Summary
//
.search-summary {
	overflow: auto;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 1.2rem 0.5rem 0.8rem;
	background-color: transparent;

	.search-summary-content {
		box-sizing: border-box;
		flex-grow: 1;
		padding: 0;
		white-space: nowrap;
	}

	.violator {
		@include typography(small-headline);
		margin-right: 0.5rem;
		padding: 0.25rem 1rem;
		border-radius: 14px;
	}

	.small & {
		.search-summary-content .violator {
			display: none;
			// padding: 0.8rem 0;
		}
	}
}

//
// List
//
.list {
	list-style: none;
}

.listitem {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 0.6rem;
	color: color(copy);
	border-top: 1px solid color(keyline);
	transform: translateZ(0);

	.listitem-content {
		@include typography(body);
		flex-grow: 1;
		padding-right: 1rem;
		line-height: 1.4;
		color: color(copy);
		text-decoration: none;

		.listitem-ryc {
			@include typography(small);
			color: color(accent-two);
			font-style: oblique;
		}

		.listitem-title {
			@include typography(subheadline);
		}
	}

	.listitem-action {
		display: flex;
		align-items: center;

		.btn {
			min-width: 86px;
		}
	}

	&.listitem--headline {
		border-top: 0;

		h3 {
			@include typography(body-headline);
			margin: 1rem 0 0;
		}
	}

	&:first-child {
		border-top: none;
	}

	.theme-dark & {
		color: color(white);
		border-top: 1px solid lighten(color(black), 10%);

		.listitem-content {
			color: color(white);
		}

		.listitem-ryc {
			color: color(accent-three);
		}

		&:first-child {
			border-top: none;
		}
	}

	@include can-hover() {
		&:not(.listitem--headline):hover {
			background-color: rgba(lighten(color(keyline), 5%), 0.4);
		}
	}

	.small & {
		.listitem-content {
			.listitem-title {
				@include typography(hero-body-headline);
				margin: 0.2rem 0;
			}

			.listitem-date,
			.listitem-venue {
				@include typography(small);
			}
		}

		.listitem-action {
			flex-direction: column;

			.btn,
			a.btn {
				margin-left: 0;
				line-height: 24px;
				min-height: 24px;
			}

			.btn + .btn {
				margin-top: 0.6rem;
			}
		}
	}
}

.theme-dark.no-touch {
	.listitem:not(.listitem--headline):hover {
		background-color: rgba(lighten(color(black), 15%), 0.4);
	}
}
